  <h1>What's up ?</h1>
  <div class="form">
    <%= render 'shared/micropost_form' %>
  </div>
  <div class="info">
    <%= render 'shared/userinfo', :user => current_user %>
  </div>
  <% unless @feed_items.empty? %>
    <ol class="feed">
      <%= render :partial=>"shared/feed_item", :collection => @feed_items %>
    </ol>
    <%= will_paginate @feed_items %>
  <% end %>

